:root {
  --primarycolor: rgba(175, 113, 50, 0.823);
  --secondarycolor: #adc178;
  --trcolor: wheat;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1.5rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background: linear-gradient(var(--primarycolor), var(--secondarycolor));
  min-height: 100vh;
  display: flex;
}

.calculator {
  background-color: #3b334733;
  width: 70vh;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px white;

  display: grid;
  gap: 1rem;
  grid-template-areas:
    "dis dis dis dis"
    "ac c per div "
    "b7 b8 b9 multi"
    "b4 b5 b6 minus"
    "b1 b2 b3 plus"
    "b0 dot equals equals";
}

.display {
  background-color: var(--secondarycolor);
  height: 8vh;
  border-radius: 0.5rem;
  text-align: right;
  align-content: center;
  padding: 0.5rem;

  grid-area: dis;
}

.calculator .btn {
  background-color: var(--trcolor);
  margin: 1rem;
  height: 6vh;
  border-radius: 0.5rem;

  display: grid;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  font-weight: bolder;
}
.calculator .btn:hover {
  cursor: pointer;
  background-color: #f9ea9a;
  transition: all 0.3s;
}

.btn-ac {
  grid-area: ac;
}
.btn-c {
  grid-area: c;
}

.btn-per {
  grid-area: per;
}
.btn-divide {
  grid-area: div;
}
.btn-7 {
  grid-area: b7;
}
.btn-8 {
  grid-area: b8;
}
.btn-9 {
  grid-area: b9;
}
.btn-multi {
  grid-area: multi;
}
.btn-4 {
  grid-area: b4;
}
.btn-5 {
  grid-area: b5;
}
.btn-6 {
  grid-area: b6;
}
.btn-minus {
  grid-area: minus;
}
.btn-1 {
  grid-area: b1;
}
.btn-2 {
  grid-area: b2;
}
.btn-3 {
  grid-area: b3;
}
.btn-plus {
  grid-area: plus;
}
.btn-0 {
  grid-area: b0;
}
.btn-dot {
  grid-area: dot;
}
.btn-equalsto {
  grid-area: equals;
}

.prank {
  animation: shake 0.5s ease-in;
}
@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(-10px);
  }

  90% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
